@keyframes blink {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cursor-disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes delayed-fly-in {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.section:not(:last-child) {
  margin-bottom: 50vh;
}

.section > h1 {
  font-size: 6rem;
  font-weight: 200;
  margin-bottom: 20px;
}

.section > h2 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 60px;
}

.section > h3 {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 20px;
}

.welcomeSection > h1 {
  font-size: 10rem;
}

.welcomeSection > h2 {
  font-size: 3rem;
}

.welcomeSection > h3 {
  font-size: 2rem;
}

.imgContainer {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 50px rgb(87, 179, 255);
}

.scrollMoreText {
  animation: delayed-fly-in 2s forwards ease;
}

/* Used to balance the center-offset from the visible cursor */
.hiddenCursor {
  font-weight: 200;
  opacity: 0;
}

.cursor {
  font-weight: 200;
}

.cursor.disappear {
  animation: cursor-disappear 1s forwards;
}

@media (max-width: 768px) {
  .column {
    margin: 50px;
  }
}